name: Update Books JSON

on:
  schedule:
    - cron: '0 0 * * 0'  # každou neděli UTC
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run scraper
        run: node scrape.js

      - name: Commit books.json
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@users.noreply.github.com"
          git add static/books.json
          git commit -m "Update books.json [skip ci]" || echo "Nothing to commit"
          git push
